/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #F4F5F3;
} */

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 300px;
  margin: 0 75px;
  border-radius: 3rem;
}

.item img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
  height: 200px;
  margin-left: calc(50% - 225px);
  align-items: center;
  /* background-color: lightgreen; */
  /* opacity: 50%; */
}

.carousel {
  display: flex;
  cursor: grab;
  /* background-color: pink; */
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.heading {
  font-size: 3rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  text-align: center;


}