/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #F4F5F3;
} */

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  contain: content;
}

.item img {
  height: 75%;
  width: 100%;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
  height: 400px;
  margin-left: calc(50% - 235px);
  align-items: center;
}

.carousel {
  display: flex;
  cursor: grab;
}


.heading {
  font-size: 3rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  text-align: center;
}